
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
 overflow-x: hidden;
  height: 100%;
  background-color: #141414;

}




/* h1 {
	font-size: 40px;
  text-align: center;
} */

.container1{
	cursor: pointer;
	position: absolute;
	top: 5%;
	right: 5%;
	width: 30px;
	height: 20px;
    z-index: 1001;
  /* z-index: 3; */
  transition: transform 0.5s ease;
}

.bars{
	width: 30px;
	height: 4px;
	background: white;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.bars::before,
.bars::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background: white;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.bars::before {
  top: -10px;
}

.bars::after {
  top: 10px;
}
.container1.hide .bars {
  transform: rotate(45deg);
  background: white;
}

.container1.hide .bars::before {
  transform: rotate(90deg);
  top: 0;
}

.container1.hide .bars::after {
  transform: rotate(90deg);
  top: 0;
}
/* .container1.hide .bars,
.container1.hide .bars::before,
.container1.hide .bars::after {
    background: transparent;
} */
/* nav{
	
	width: 100%;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
	
  z-index: 2;
  position: absolute;
    top: 0;
    background: #000;
    overflow: hidden;
    transition: right 0.5s ease, height 0.5s ease;
} */

nav {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: fixed; /* Fixed positioning */
  top: 0;
  left: 0;
  background: #000;
  transform: translateX(-100%); /* Initially hidden */
  transition: transform 0.5s ease;
}

nav.show {
  transform: translateX(0); 
  /* height: 100vh; */
}
nav ul {
	list-style: none;
  padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav ul li{
	margin: 50px 0;
}

nav ul li a{
	color: #fafafa;
	font-size: 2em;
	text-decoration: none;
	font-weight: 500;
	position: relative;
	opacity: 0;
	pointer-events: none;
  transition: opacity 0.5s ease, pointer-events 0.5s ease;
}

nav ul li a:after{
	content: '';
	width: 100%;
	position: absolute;
	height: 3px;
	border-radius: 5px;
	background: #fff;
	bottom: -10px;
	left: 0;
	transform-origin: left;
	transition: transform .5s ease;
	transform: scaleX(0);
}


nav ul li a:hover:after{
	transform: scaleX(1);
}
nav.show ul li a {
  opacity: 1;
  pointer-events: all;
}

nav.show {
  right: 0;
  height: 100vh;
  z-index: 1000;
}
/* nav .close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 6%;
	right: 5%;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
} */

nav h2{
	position: absolute;
	top:5%;
	left: 5%;
	opacity: 0;
	pointer-events: none;
	color: #fff;
	font-size: 2em;
}

.page1{
    height: 78vh;
    width: 100%;
}

.bg-video{
    display: none;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.bg-video.active{
    display: block;
}

.video-content{
    position: relative;
    max-width: 40vw;
    /* padding-bottom: 200px; */
    z-index: 100;
    /* background-color: #fafafa; */
    margin-top: -25vw;
    margin-left: 3vw;
}

.video-content h1{
    font-size: 8vw;
    color: #fff;
    font-weight: 500;
    line-height: 0.8em;
    /* letter-spacing: 5px; */
}

.video-content .model{
    font-size: 4vw;
    text-transform: uppercase;
    color: #fff;
    display: none;
}

.video-content .model.active{
    display: block;
}

.video-content p{
  font-size: 1.1vw;
  color: #fff;
  letter-spacing: 1px;
  /* margin-bottom: 40px; */
}
.page2{
  background: #000;
margin-top:20vh;
}

/* .video-content a{
    position: relative;
    width: 100px;
    text-decoration: none;
    padding: 15px 20px;
    background: transparent;
    border-bottom: 3px solid;
} */

.gallery{
    position: absolute;
    content: '';
    left: 100px;
    bottom: 2vw;
    width: 40vw;
    height: 23vh;
    z-index: 100;
    background: transparent;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5),
    0px -10px 40px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-image{
  display: flex;
}

.small-img img{
  object-fit: cover;
  height: 8vw;
  width: 10vw;
  padding:0 1vw;
}

.small-img h4{
  font-size: 1.3vw;
  color: #fff;
  margin-left: 1.5vw;
}



.History-heading h1{
  /* position: absolute; */
  /* margin-top: 50vw; */
  font-size: 10vw;
  color: #fafafa;
  font-weight: 700;
  /* z-index: -1; */
}

.history {
  width: 500%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}



.line {
  background-color: beige;
  height: 1rem;
  position: absolute;
  top: 10%;
  width: 100%;
  transform: translateY(-50%);
}

section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

section.character::before {
  content: '';
  width: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.block {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: translateX(-100%);
}

.history-info::before, .history-info .block {
  /* background-color: #044544; */
background-color: beige;
}

/* .history::before, .history .block {
  background-color: rgb(19, 18, 18);
} */

.caption {
  position: absolute;
  bottom: 4rem;
  left: 4rem;
  width: 40%;
  font-weight: 400;
  color: #444;
  font-size: 1.5vw;
  font-family: monospace;
 
  /* transform: translate(100%, 100%); */
}

.Porsche-img {
  position: relative;
  z-index: 10;
  width: auto;
  margin-bottom: 20vw;
}

.Porsche-img1 {
  height: 100vh;
}

.Porsche-img2{
  height: 65vh;
  margin-top: 12vw;
}

.Porsche-img3{
  height: 85vh;
  margin-top: 17vw;
}

.Porsche-img4{
  height: 140vh;
  margin-top: -4vw;
}

.huge-text {
  font-size: 25rem;
  width: 100%;
  text-align: center;
  color: #D4AF37;
  opacity: 0.7;
  position: absolute;
  top: 0%;
  left: 0;
  transform: translateY(100%);
  font-weight: 700;
}




.quote {
  position: absolute;
  bottom: 7rem;
  right: 2vw;
  font-size: 2.5vw;
  width: 30%;
  text-align: right;
  color: beige;

  /* transform: translateY(200%); */
}

.quote::before, .quote::after {
  content: '';
  color: #fff;
}


.page3{
  background: #000;
  display: flex;
  justify-content: space-evenly;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}
.container {
  width: 20vw;
  height: 50vh;
  perspective: 800px;
}
.container:hover > .card {
  cursor: pointer;
  transform: rotateY(180deg);
}
.container:hover > .card2 {
  cursor: pointer;
  transform: rotateY(180deg);
}
.container:hover > .card3 {
  cursor: pointer;
  transform: rotateY(180deg);
}
.container:hover > .card4 {
  cursor: pointer;
  transform: rotateY(180deg);
}
.card {
  height: 70vh;
  width: 20vw;
  border-radius: 2rem;
  background-size: cover;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
}

.card1{
  background-image: url(Images/card-bg-1.jpg);
}
.card2 {
  background-image: url(Images/card-bg-2.jpg);
}
.card3 {
  background-image: url(Images/card-bg-3.jpg);
}
.card4 {
  background-image: url(Images/card-bg-4.jpg);
}

.front {
  overflow: hidden;
}

.video-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.front,
.back {
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0 15px 2px rgba(177, 155, 155, 0.971);
  position: absolute;
  backface-visibility: hidden;
}

.back {
  background-color: #689390;
  transform: rotateY(180deg);
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



@keyframes appear{
from{
   opacity: 0;
   scale: 0.5;
   clip-path: inset(100% 100% 0 0 );
}
to{
  opacity: 1;
  scale: 1;
  clip-path: inset(0 0 0 0 );
}
}
@keyframes appear1{
from{
   opacity: 0;
   scale: 0.5;
   /* transform: translate(-100px); */
   /* clip-path: inset(100% 100% 0 0 ); */
}
to{
  opacity: 1;
  scale: 1;
  /* transform: translate(0px); */
  /* clip-path: inset(0 0 0 0 ); */
}
}

.page3{
height: 100vh;
}

.page4{
  background: #000;
  display: flex;
  justify-content: space-evenly;
}
.page4 h1{
  /* margin-left: 5vw; */
  font-size: 3vw;
  color: #fff;
  text-align: justify;
}
.page4 p{
  margin-top: 10vh;
  max-width: 40ch;
  letter-spacing: 3px;
  /* margin-left: 3vw; */
  color: white;
  font-size: 2vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align:justify;
  
}
.page4 img{
  width: 37vw;
  height: 85.3vh;
  object-fit: cover;
}

.before-after-slider{
  position: relative;
  width: 37vw;
  height: 85.3vh;
  margin-right: 6vw;
}

.img-before{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  overflow: hidden;
  width: 50%;
}
.img-beforeimg{
  object-fit: cover;
}
.before-line{
  width: 1px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  pointer-events: none;
}

/* page - 6 */

.page6{
  background: #000;
}

/* body {
	background-color: black;
	font-family: Cosi Azure;
} */
.image-nav, a:visited, a:hover {
	text-decoration: none;
}

.image-nav li {
	list-style: none;
}

.image-nav {
	min-height: 100vh;
	overflow: hidden;
	display:grid;
	place-items:center;
}

.image-nav ul {
	width: 80%;
}



.image-nav ul li {
	border-bottom: solid #ffffff .05rem;
	position: relative;
	z-index: 10;
}

.image-nav ul li .link{
	display: flex;
	padding: 4rem 0 2rem 0;
	z-index: 10;
	justify-content:space-between;
}

.image-nav ul li .link span {
	display: block;
	font-weight: 500;
	z-index: 10;
	mix-blend-mode: difference;
	display: inline-block;
	position: relative;
	color: white;
	font-size: 4rem;
	text-transform: uppercase;
  width: 100%;
}
.image-nav ul li .link > img {
	mix-blend-mode: difference;
	z-index: 10;
}


.image-nav .hover-reveal {
	position: absolute;
	width: 30vw;
	/* height: 400px; */
	top: 50%;
	left: 50%;
	pointer-events: none;
	transform: translate(-50%, -50%);
	overflow: hidden;
	opacity: 0;
	transform: scale(0.8);
	transition: all .5s ease-out;
}

.image-nav .hover-reveal img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
	transition: transform .4s ease-out;
}



/* page5 */

.page5{
  background: #000;
}
:root{
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(.1, .7, 0, 1);
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.items{
  display: flex;
  gap: 0.4rem;
  perspective: calc(var(--index) * 35);
}

.item{
  width: calc(var(--index) * 4);
  height: calc(var(--index) * 20);
  background-color: #222;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: grayscale(1) brightness(.5);
  transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
  will-change: transform, filter, rotateY, width;
}

.item::before, .item::after{
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  right: calc(var(--index) * -1);
}

.item::after{
  left: calc(var(--index) * -1);
}

.items .item:hover{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 10));
}

/*Right*/

.items .item:hover + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
  z-index: -1;
}

.items .item:hover + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
  z-index: -2;
}

.items .item:hover + * + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
  z-index: -3;
}

.items .item:hover + * + * + * + *{
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
  z-index: -4;
}


/*Left*/

.items .item:has( + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}

.items .item:has( + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has( + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has( + * + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item:active, .items .item:focus {
width: 28vw;
filter: inherit;
z-index: 100;
transform: translateZ(calc(var(--index) * 10));
  margin: 0 .45vw;
}


/* page7 */


.page7 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  background: #000;
  }
  
  .container-marquee {
  overflow: hidden;
  background: rgb(19, 18, 18);
  cursor: ew-resize;
  white-space: nowrap;
  padding: 10vh 0;
  }
  
  .title-marquee {
  font-family: "Canopee", sans-serif;
  font-size: 6vw;
  position: relative;
  color: #99948d;
  display: inline-block;
  margin: 0;
  padding: 0 15%;
  will-change: transform;
  }




  /* page8*/

  @import url('https://unpkg.com/normalize.css') layer(normalize);

@layer normalize, base, demo, scroll, debug;

@layer scroll {
  @supports (animation-timeline: scroll()) {
    @property --active {
      initial-value: 0;
      inherits: true;
      syntax: '<number>';
    }

   .page8 p span {
      animation: activate both ease-in-out;
      animation-timeline: view();
      opacity: 0;
    }

    @keyframes activate {
      50% {
        opacity: 1;
      }
    }

      :root {
      --scroll-ease: linear(
        -0 0%,
        0.0048 9.8%,
        0.0192 19.5%,
        0.043 29.02%,
        0.0761 38.26%,
        0.1181 47.13%,
        0.1685 55.56%,
        0.227 63.44%,
        0.2929 70.71%,
        0.3656 77.3%,
        0.4445 83.15%,
        0.5285 88.19%,
        0.6173 92.39%,
        0.7099 95.7%,
        0.805 98.08%,
        0.9021 99.52%,
        1 100%
      );
    }

    .page8  .section__content svg:nth-of-type(1) path {
      --dest: 0;
      stroke-dashoffset: 1.025;
      stroke-dasharray: 1.025;
      animation: draw both var(--scroll-ease);
      animation-timeline: view();
      animation-range: entry 25% entry 75%;
    }

    .page8  .section__content {
      margin-bottom: 15vh;
    }

    .page8  .section__buffer {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      height: 15vh;
      background: linear-gradient(canvas, transparent);
    }

    .page8  .section__content svg:nth-of-type(2) {
      translate: 0 2%;
    }

    .page8  .section__content svg:nth-of-type(2) path {
      stroke-dashoffset: 0;
      stroke-dasharray: 1.025;
      --dest: -1.025;
      animation: draw both ease-out;
      animation-timeline: view();
      animation-range: exit -25% exit 50%;
    }

    @keyframes draw {
      to {
        stroke-dashoffset: var(--dest, 1.025);
      }
    }

    .page8  footer {
      view-timeline: --footer;
    }

    .page8  footer h2 {
      animation: reveal both linear;
      animation-timeline: --footer;
      animation-range: entry 75% entry 100%;
      position: fixed;
    }

    @keyframes reveal {
      0% {
        filter: blur(10px);
        opacity: 0;
      }
    }
  }
}

@layer debug {
  [data-blend='false'] .section__content {
    mix-blend-mode: normal;
  }
  [data-debug='true'] .section__content::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 10px dashed hotpink;
  }
  [data-debug='true'] .section__content svg {
    outline: 10px dashed hotpink;
  }
}

@layer demo {
   :root {
    --bg: black;
  }

  .page8  header {
    height: 100vh;
    display: grid;
    place-items: center;
    background: linear-gradient(transparent 50%, canvas);
  }

  .page8  section {
    position: relative;
  }

  .page8  .section__content {
    background: white;
    mix-blend-mode: lighten;
    z-index: 2;
  }

  .page8  .section__text {
    background: var(--bg);
    height: 105vh;
    display: grid;
    place-items: center;
  }

  .page8  .section__stick {
    position: absolute;
    inset: 0;
    top: 0;
    /* height: 100vh; */
    place-items: center;
    z-index: -1;
  }

  .page8 .section__content svg {
    overflow: visible !important;
  }

  .page8  .section__text p {
    margin: 0;
    --font-level: 5;
    color: white;
    /* background: black; */
    display: flex;
    flex-direction: column;
    gap: 2lh;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-wrap: balance;
    text-align: center;
  }

  .page8  footer {
    height: 100vh;
    display: grid;
    align-content: end;
    position: relative;
  }

  .page8  footer h2 {
    --font-level: 5;
    text-transform: none;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -2;
  }

  .page8  video {
    position: sticky;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(0.65);
  }

  .page8  footer {
    padding: 2rem;
    text-align: center;
  }

  .page8  header {
    align-content: center;
  }

  .page8  h1 {
    --font-level: 7;
    position: relative;
    margin: 0;
  }

  .page8  h1 span {
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: inline-block;
    translate: -50% 50%;
    font-size: 0.2em;
    text-transform: uppercase;
    white-space: nowrap;
    color: hsl(6 100% 50%);
  }

  .page8  h2 {
    --font-level: 1;
    margin: 0;
    opacity: 0.5;
    text-transform: uppercase;
  }
}

@layer base {
  :root {
    --font-size-min: 16;
    --font-size-max: 20;
    --font-ratio-min: 1.2;
    --font-ratio-max: 1.33;
    --font-width-min: 320;
    --font-width-max: 1500;
  }

  :where(.fluid) {
    --fluid-min: calc(
      var(--font-size-min) * pow(var(--font-ratio-min), var(--font-level, 0))
    );
    --fluid-max: calc(
      var(--font-size-max) * pow(var(--font-ratio-max), var(--font-level, 0))
    );
    --fluid-preferred: calc(
      (var(--fluid-max) - var(--fluid-min)) /
        (var(--font-width-max) - var(--font-width-min))
    );
    --fluid-type: clamp(
      (var(--fluid-min) / 16) * 1rem,
      ((var(--fluid-min) / 16) * 1rem) -
        (((var(--fluid-preferred) * var(--font-width-min)) / 16) * 1rem) +
        (var(--fluid-preferred) * var(--variable-unit, 100vi)),
      (var(--fluid-max) / 16) * 1rem
    );
    font-size: var(--fluid-type);
  }

  
  *:after,
  *:before {
    box-sizing: border-box;
  }

  .page8 {
    min-height: 100vh;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'AOS Icons', 'Helvetica Neue',
      Helvetica, Arial, sans-serif, system-ui;
  }

  .page8::before {
    --size: 45px;
    --line: color-mix(in lch, canvasText, transparent 70%);
    content: '';
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--size)
        )
        50% 50% / var(--size) var(--size),
      linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
        var(--size) var(--size);
    mask: linear-gradient(-20deg, transparent 50%, white);
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -1;
  }

  .page8 .bear-link {
    color: canvasText;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 48px;
    aspect-ratio: 1;
    display: grid;
    place-items: center;
    opacity: 0.8;
  }

  :where(.x-link, .bear-link):is(:hover, :focus-visible) {
    opacity: 1;
  }

  .page8 .bear-link svg {
    width: 75%;
  }

  /* Utilities */
  .page8  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}

.page8 div.tp-dfwv {
  width: 290px;
}
/* RESPONSIVE  */

/* page9 */

.page9{
  height: 110vh;
  width: 100%;
  margin-bottom: 600px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* font-size: 10vw; */
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-slide img {
  display: block;
  margin-top: 7vw;
  width: 45vw;
  height: 55vh;
  margin-left: 28vw;
  object-fit: cover;
}

.swiper-slide h2{
  color: #fff;
  font-size: 2.5vw;
  margin-top: -3vw;
}
.swiper-slide h3{
  color: rgb(120, 117, 117);
  width: 30.5vw;
  font-size: 1.2vw;
  margin-left: 34vw;
  margin-top: 2vw;
  font-weight: 200;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.swiper-pagination-text {
  font-size: 1.3vw;
  color: #ffffff;
  margin: 0 10px;
  position: relative;
  padding-right: 5vw; 
  margin-bottom: 4vw;
}

.swiper-pagination-text::after {
  content: "";
  position: absolute;
  /* right: 0; */
  margin-left: 1vw;
  top: 50%;
  /* transform: translateY(50%); */
  width: 50px; /* Line width */
  height: 1px;
  background-color: #ffffff; /* Line color */
}

.swiper-pagination-text-active {
  font-weight: bold;
  color: #ff0000;
}

.swiper-pagination-text-active::after {
  background-color: #ff0000; /* Line color for active text */
}

.swiper-button-prev{
  /* color: #fff; */
 
    right:10px;
    padding: 30px;
    color: #ff0000 !important;
    
  margin-left: 7vw;
}

.swiper-button-prev hr{
  width: 1px;
  height: 3vw;
  margin-right: -4vw;
  rotate: 90deg;
  color: #444;
}

.swiper-button-next{
  margin-right: 7vw;
  color: #ff0000 !important;
}
.swiper-button-next hr{
  width: 1px;
  height: 3vw;
  margin-right: 2vw;
  rotate: 90deg;
  color: #444;
}
/* footer section */


::-webkit-scrollbar {
	width: 5px;
	border-radius: 10px;
	display: none;
}
.show-scrollbar::-webkit-scrollbar {
	display: block;
}
::-webkit-scrollbar-track {
	background-color: #0e0e0c;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(54, 54, 54);
	border-radius: 10px;
}

::selection {
	color: orangered;
	background-color: transparent;
}


footer {
  width: 100%;
  height: 600px;
  background: #050505;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -100;
  color: #fff;
  
}
.footer-wrapper {
	/* height: 100vh; */
	width: 100vw;
	background-color: #141414;
}

.header-top {
	display: flex;
	flex-direction: column;
	gap: 0.7vw;
	/* flex: 1; */
}

.images5 {
	display: flex;
	justify-content: center;
	gap: 25px;
	margin-top: 30px;
}

.header-top .main-heading {
	position: absolute;
	z-index: 9999;
	font-size: 14.9vw;
	left: 0.69%;
	top: -1%;
	font-weight: 400;
	color: #e3e9e8;
	font-family: NeueRoman;
}

.header-top p {
	font-size: 2.3vw;
	margin-top: 15px;
	margin-bottom: 2px;
}

.images5 {
	overflow: hidden;
	white-space: nowrap;
}

.images5 img {
	display: inline-block;
	height: 220px;
	margin: 0;
	animation: scroll 10s linear infinite;
	background-size: cover;
}
@keyframes scroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}
.images5 img {
	width: 30%;
	height: auto;
	border-radius: 4px;
}

.header-top .bottom {
	font-size: 7vw;
	letter-spacing: 8px;
	margin-top: 0;
	padding: 0;
}
.header-top a {
	/* text-decoration: underline; */
	font-size: 1.87vw;
	padding-bottom: 0.4vw;
	border-bottom: 1px solid white;
	color: white;
	font-family: aeonik;
	width: fit-content;
}
.mail-footer {
	position: relative;
	text-decoration: none;
	color: #000;
}
/* .mail-footer::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -8px;
	width: 87.7%;
	height: 2px;
	background-color: white;
	margin-left: 0.5vh;
} */

.header-top a span svg {
	width: 26px;
	text-align: center;
}

#middle-footer {
	margin-top: 4vw;
	display: flex;
	justify-content: space-between;
}

#middle-footer .section1 {
	display: flex;
	flex-direction: column;
	gap: 30px;
	font-family: grotesk2;
}

.section1 p {
	margin: 0;
}

.section1 .navtag {
	color: #a9b0af;
	font-size: 18px;
	text-transform: uppercase;
}

.section1 .parent-nav {
	color: #e1e3e3;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 35px;
}

.parent-nav .navi {
	display: flex;
	flex-direction: column;
	gap: 21px;
}

.section1 .navi p {
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 400;
}

#middle-footer .section2 {
	font-size: 1.2vw;
	width: 32%;
	display: flex;
	justify-content: space-between;
}

.call1 {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.gap {
	gap: 30px;
}
.call1 p:nth-child(1) {
	text-transform: uppercase;
	font-size: 21px;
	opacity: 0.8;
	font-weight: 500;
}

.call1 p:nth-child(2) {
	font-size: 18px;
	font-weight: 300;
	opacity: 1;
}

.social {
	display: flex;
}

.social ul {
	display: flex;
	flex-direction: column;
	gap: 0.6vw;
}

.social ul li {
	text-align: center;
	display: inline-block;
	list-style: none;
	padding: 0.4vw 0.9vw;
	color: white;
	border: solid 1px rgb(181, 179, 179);
	border-radius: 50px;
	position: relative;
	width: fit-content;
	overflow: hidden;
}
.social ul li::after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: #ffffff;
	font-weight: 100;
	position: absolute;
	left: 0;
	bottom: -100%;
	border-radius: 50px;
	transition: all 0.2s ease;
}
.social ul li:hover::after {
	bottom: 0;
}
.social ul li:hover {
	cursor: pointer;
}

.social ul li a {
	position: relative;
	color: #bbc5c4;
	text-decoration: none;
	font-family: NeueRoman;
	z-index: 9;
	font-size: 1vw;
	font-weight: 600;
}
.social ul li:hover a {
	color: black;
}

.middle-footer2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 3vw;
}

.middle-footer2 p {
	color: #bbc5c4;
	font-weight: 600;
}
.middle-footer2 .img1 {
	height: 72px;
	width: 72px;
	overflow: hidden;
}
.middle-footer2 .img1 img {
	width: 80%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.middle-footer2 .middle-text {
	font-weight: 400;
	color: #bbc5c4;
	font-size: 1.6vw;
	font-family: aeonik;
	padding-top: 2vw;
}

.middle-footer2 p {
	margin-top: 20px;
	font-family: NeueRoman;
}

.scrolling-text-container-footer {
	margin-top: 1vw;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	border-top: 1px solid white;
	padding: 10px 6px 6px 6px;
	box-sizing: border-box;
	color: white;
}

.scrolling-text-footer {
	display: inline-block;
	white-space: nowrap;
	animation: scroll 40s linear infinite;
	font-family: aeonik;
}

@keyframes scroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-50%);
	}
}

@media only screen and (max-width: 1465px){
    
}

@media only screen and (max-width: 991px) {

  .page3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 130vh;
  }

  .container {
    width: 45vw;
    height: 50vh;
    margin: 0.5rem;
  }

  .card {
    height: 55vh;
    width: 40vw;
    margin-left: 3vw;
  }

  .item {
    width: calc(var(--index)* 3.2);
  }
}


@media only screen and (max-width: 715px) {
  .item {
    width: calc(var(--index)* 2.5);
  }
}

@media only screen and (max-width: 480px) {
  .page2{
    display: none;
  }
  .page1{
    height: 65vh;
  }
  .bg-video{
    width: 100%;
    height: 60%;
}
.video-content{
margin-top: -38vh;
}
.video-content h1 {
  font-size: 13vw;
}
.video-content .model {
  font-size: 5vw;
}
.video-content p {
  font-size: 1.5vw;
  margin-bottom: 18px;
}
.gallery {
  position: relative;
  width: 80vw;
  height: 15vh;
  left: 3vw;
  top: 3vh;
}
.small-img h4 {
  font-size: 2.5vw;
  color: #fff;
  margin-left: 5.5vw;
}
.small-img img {
  height: 20vw;
  width: 20vw;
  padding: 0 2vw;
}
  .item {
    width: calc(var(--index)* 2.1);
  }
  .image-nav ul li .link span{
    font-size: 2.5rem;
  }
  .page4 img {
    width: 40vw;
    height: 45vh;
}
.page4 p {
  margin-right: 1.5vw;
  margin-top: 5vh;
  font-size: 2.5vw;
  margin-left: 3vw;
}
.page4 h1 {
  font-size: 7vw;
  text-align: center;
}

.page3{
  height: 100vh;
}
.container {
  width: 45vw;
  height: 40vh;
  margin: 0.5rem;
}

.card {
  height: 35vh;
  width: 40vw;
  margin-left: 3vw;
}
.page4{
  height: 60vh;
}
.before-line {
  width: 1px;
  height: 53%;
}
.page9{
  height: 80vh;
}
.swiper-slide img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  margin-left: 0vw;
  margin-top: -1vh;  
}
.swiper-button-next{
  margin-right: 0vw;
}
.swiper-button-prev{
  margin-left: 0vw;
}
.swiper-slide h2{
  color: #fff;
  font-size: 6vw;
  margin-top: -45vw;
}
.swiper-slide h3{
  width: 80vw;
  font-size: 3.5vw;
  margin-left: 10vw;
  /* margin-top: 2vw; */
  font-weight:200;
}
.swiper-pagination-text {
   padding-right: 0vw; 
   font-size: 2vw;
   margin: 0 9px;
   top: -3vh;
}
.swiper-pagination-text::after{
  width: 3vw;
}
#middle-footer{
  display: flex;
  flex-direction: column;
}
.section1 .navtag {
  font-size: 6vw;
  margin-top: 3vh;
}

.section1 .parent-nav {
    justify-content: flex-start;
    gap: 30vw;
}
.header-top a {
  font-size: 4.87vw;
}
.parent-nav.nav2 {
  gap: 5vw;
}
footer .social {
  grid-gap: 40vw;
  padding-top: 2vh;
}
.social ul li a {
  font-size: 4vw;
}
.middle-footer2 .middle-text {
  font-size: 4vw;
}
.scrolling-text-footer {
  font-size: 1.5vh;
}
.middle-footer2 p {
  font-size: 2.5vw;
}
}
