body{
  margin: 0;
  padding: 0;
  position: relative;
}

.navbar {
 position: fixed;
 width: 100%;
 display: flex;
 align-items: center;
 height: 12vh;
 justify-content: space-around;
 z-index: 20;
 background-color: whitesmoke;
}


.wrap-input-18 { 
 width: 10%;
 height: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 /* margin-right: -8vw; */
}

.wrap-input-18 .search {
 margin-left: 8vw;
 /* margin: 20px; */
}

.wrap-input-18 .search > div {
 display: inline-block;
 position: relative;
}

.wrap-input-18 .search > div:after {
 content: "";
 background: rgb(7, 7, 7);
 width: 4px;
 height: 15px;
 position: absolute;
 top: 25px;
 right: -3px;
 transform: rotate(135deg);
}

.wrap-input-18 .search > div > input {
 color: 
rgb(12, 12, 12);
 font-size: 16px;
 background: transparent;
 width: 2px;
 height: 4px;
 padding: 10px;
 border: solid 3px 
rgb(5, 5, 5);
 outline: none;
 border-radius: 35px;
 transition: width 0.5s;
}

.wrap-input-18 .search > div > input::placeholder {
 color: 
#171717;
 opacity: 0;
 transition: opacity 150ms ease-out;
}

.wrap-input-18 .search > div > input:focus::placeholder {
 opacity: 1;
}

.wrap-input-18 .search > div > input:focus,
.wrap-input-18 .search > div > input:not(:placeholder-shown) {
 width: 250px;
}

.one {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.one .dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.one .dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.one .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.one .dropdown-content a:hover {
  background-color: #d3fc06;
  color: #000;
}

.one .dropdown:hover .dropdown-content {
  display: block;
}

.navbar .one a select{
 text-decoration: none;
 color: rgb(3, 2, 2);
 font-size: 20px;
 border:none;
 font-family: 'Times New Roman', Times, serif;
 -webkit-appearance: none;
 background-color: whitesmoke;
}

.btn-44,
.btn-44 *,
.btn-44 :after,
.btn-44 :before,
.btn-44:after,
.btn-44:before {
 border: 0 solid;
 box-sizing: border-box;
}
.btn-44 {
 -webkit-tap-highlight-color: transparent;
 -webkit-appearance: button;
 background-color: #000;
 background-image: none;
 color: #fff;
 cursor: pointer;
 font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
   Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
   Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
 font-size: 100%;
 font-weight: 900;
 line-height: 1.5;
 margin: 0;
 -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
 padding: 0;
}

.btn-44:disabled {
 cursor: default;
}

.btn-44:-moz-focusring {
 outline: auto;
}

.btn-44 svg {
 display: block;
 vertical-align: middle;
}

.btn-44 [hidden] {
 display: none;
}

.btn-44 {
 /* margin-left: 15vw; */
 border: 1px solid;
 border-radius: 999px;
 box-sizing: border-box;
 display: block;
 overflow: hidden;
 padding: 0.5rem 1rem;
 position: relative;
 text-transform: uppercase;
}
.btn-44 span {
 font-weight: 400;
 mix-blend-mode: difference;
}

.btn-44:after,
.btn-44:before {
 background: 
#fff;
 content: "";
 height: 100%;
 left: 0;
 position: absolute;
 top: -100%;
 transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
 width: 100%;
 will-change: transform;
}
.btn-44:after {
 background: 
#dedede;
 transition-delay: 0.13s;
 z-index: -1;
}
.btn-44:hover:after,
.btn-44:hover:before {
 transform: translateY(100%);
}

 .login-preview {
  position: fixed;
  top:0; left:0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 22;
}

.login-preview {
  display: none;
}

.login-preview.show {
  display: block; 
  background-color: #999;
}

.container-login {
  background-color: rgb(254, 254, 254);
  padding: 40px;
  border-radius: 10px;
  animation: fadeIn 0.5s ease-in;
  width: 25rem;
  margin-left: 33rem;
  margin-top: 4rem;
}

.container-login h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in;
}

input {
  width: 90%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.2s ease-in;
}

button {
  background-color: rgba(255, 255, 0, 0.979);
  color: black;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
  transition: background-color 0.2s ease-in;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container-login .pass {
  text-align: center;
}

button:hover {
  transform: scale(1.05);
}

.social-buttons-login {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.social-buttons-login button {
  background-color: #fff;
  color: #333;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
  width: auto;
  transition: background-color 0.2s ease-in;
}
.container-login p{
  text-align: center;
}

.social-buttons-login button:hover {
  background-color: #f7f7f7;
}

.container-login a {
  color: #4CAF50;
  text-decoration: none;
  transition: color 0.2s ease-in;
}

.container-login a:hover {
  color: #3e8e41;
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: scale(0.5);
  }
  100% {
      opacity: 1;
      transform: scale(1);
  }
}


.page1{
  width: 100%;
  height: 50vw;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  /* animation: CSSscrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 50% cover 50%; */
 }

.page1 img{
 margin-top: 8vw;
 margin-left: 10vw;
 height: 40vw;
 animation: CSSscrollReveal ease-in-out both;
 animation-timeline: view();
 animation-range: entry 50% cover 50%;
}

.E1-desc{
 margin-right: 0;
 width: 50%;
 background-color: #fff;
 margin-top: 10vw;
 display: flex;
 justify-content: start;
}

.about-E1{
 font-size: 4vw;
 padding: 2vw 0;
 
}

.available{
 font-size: 1.5vw;
 margin-top: -5vw;
 color: rgb(118, 218, 36); 
}

.rate{
 font-size: 3vw;
 font-weight: 900;
 color: rgb(10, 10, 10);
}

.shop{
 display: flex;
}

.discover,.add{
 border: none;
 padding: 1vw ;
 font-size: larger;
 transition: transform .5s ease-in-out;

}

.discover{
 background-color: grey;
}

.add{
 background-color: rgb(241, 181, 42);
 transform: scale(1.1);
}

.discover:hover{
 transform: scale(1.1);
 cursor: pointer;
}

.add:hover{
 transform: scale(1);
}


.page2{
 background-color: #fff;
}
.page3{
 background: #fff;
}

.swiper {
 /* margin-top: 15vh; */
 width: 90%;
 height: 50%;
}

.swiper-slide {
 text-align: center;
 font-size: 18px;
 background: #fff;
 display: flex;
 justify-content: center;
 align-items: center;
}

.swiper-slide img {
 display: block;
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.moving-text{
 white-space: nowrap;
 overflow-x: auto;
}
.moving-text::-webkit-scrollbar{
 display: none;
}
.con{
 display: inline-block;
 animation: move 3s linear 0s infinite normal;
 padding: 1vw 0vw;
}
.moving-text h1{
 font-size: 4vw;
 display: inline-block;
}

.gola{
 height: 2vw;
 width: 2vw;
 border-radius: 50%;
 background-color: yellowgreen;
 display: inline-block;
 margin-left: 1vw;
 margin-right: 1vw;
}

@keyframes move {
 from{
     transform: translateX(0);
 }
 to{
     transform: translateX(-100%);
 }
}

.container{
 width: 100%;
 height: 30rem;
 display: flex;
 justify-content: center;
}


.products-container {
  display: grid;
  grid-template-columns: repeat(4, 21rem);
  gap: 2rem;
  margin: 0 2vw;
  /* padding: 0 rem; Add padding to ensure equal margins on both sides */
  animation: CSSscrollReveal ease-in-out both;
  animation-timeline: view();
  animation-range: entry 0% cover 50%;
}

 .product{
 text-align: center;
 height: 28vw;
 width: 22vw;
 border-radius: 1vw;
 padding:0;
 background: #fff;
 box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
 /* outline: .1rem solid #ccc; */
 /* outline-offset: -1.5rem; */
 cursor: pointer;
}

 .view-button button{
 border: none;
 height: 2vw;
 width: 6vw;
 border-radius: 2vw;
 background-color: #d3f10e;
}

.product:hover{
 /* outline: .1rem solid #222; */
 transform: scale(1.1);
 outline-offset: 0;
}

.view-button button:hover{
 background-color: #b1c237d1;
}

.product img{
  object-fit: cover;
  width: 22vw;
 height: 19rem;
 border-top-left-radius: 1vw;
 border-top-right-radius: 1vw;
 box-shadow: 0 .5rem 1rem rgba(5, 4, 4, 0.1);
}

.image img{
 /* background: rgb(248, 240, 28); */
 background: linear-gradient(90deg, rgb(35, 38, 38) 0%, rgb(168, 175, 175) 100%);
}


 .product h3{
 font-size: 1.2vw;
 display: flex;
 justify-content: space-between;
 color:#444;
 margin-top: 1vw;
 margin-left: 0.5vw;
/* padding: 1vw; */
 line-height: 0.5vw;
}

/* .product h3:hover {
 text-decoration: underline;
} */

.stars1{
  padding:0;
  margin-left: -17vw;
  font-size: 1.2vw;
 }
 
  .stars1 i{
  color:#dbe512;
 }
 
  .stars1 span{
  color:#999;
 }

.products-preview{
 position: fixed;
 top:0; left:0;
 min-height: 100vh;
 width: 100%;
 background-color: rgba(0,0,0,.8);
 display: none;
 align-items: center;
 justify-content: center;
 z-index: 22;
 
}

.preview{
 display: none;
 flex-direction: column;
 padding:2rem;
 /* text-align: center; */
 background: #fcfbfb;
 position: relative;
 margin:2rem;
 width: 40rem;
 height: 30rem;
}

 .preview .image{
 /* background: rgb(238,174,202); */
 /* background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(233,233,148,1) 100%); */
 width: 16rem;
}

 .preview.active{
 display: flex;
 flex-direction: row;
 animation-name: animate-pop-from-right;
 animation-duration: .5s;
}

@keyframes animate-pop-from-right {
 0% {
   opacity: 0;
   transform: translateX(100%);
 }
 100% {
   opacity: 1;
   transform: translateX(0);
 }
}

 .preview img{
 height: 15rem;
}

/* .preview img:hover{
 transform: scale(.9); 
} */
 .preview .abc{
 display: flex;
 flex-direction: column;
 justify-content:space-around;
 row-gap: 3rem;
 /* outline: 0.1rem solid #888686; */
 padding: 2rem;
}

 .preview .buttons{
 display: flex;
 gap:0.5rem;
 flex-wrap: wrap;
 flex-direction: column;
}

 .preview .buttons a{
 font-size: 1.5rem;
 color:#020300;
 height: 3rem;
 width: 15rem;
 align-content: center;
 text-decoration: none;
 background-color: #e2fb03;
 text-align: center;
 border-radius: 2vw;
}

.preview .buttons a:hover{
 background: #444;
 color:#fff;
}

.preview .bcd{
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
}

 .preview .fa-times{
 position: absolute;
 top:1rem; right:1.5rem;
 cursor: pointer;
 color:#444;
 font-size: 4rem;
}

.fa-times:hover{
 transform: rotate(90deg);
}

 .preview h3{
 color:#444;
 padding:.5rem 0;
 font-size: 2rem;
}

 .stars{
 padding:1rem 0;
 font-size: 1.7rem;
}

 .stars i{
 color:#27ae60;
}

 .stars span{
 color:#999;
}

 .bcd p{
 line-height: 1.5;
 padding:1rem 0;
 font-size: 1.6rem;
 color:#777;
 text-align: center;
}

 .price{
 padding:1rem 0;
 font-size: 2.5rem;
 color:#27ae60;
}

@media (max-width:991px){

 html{
    font-size: 55%;
 }

}

@media (max-width:768px){

.preview img{
    height: 25rem;
 }

}

@media (max-width:450px){

 html{
    font-size: 50%;
 }

}

@keyframes CSSscrollReveal {
  from{
    opacity: 0;
    transform: translateY();
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
.page4{
  height: 150vh;
  width: 100%;
  background-color: #fff;
  /* display: flex;
  justify-content: center; */
  margin-bottom: 600px;
}

.rainbow {
  display: inline-block;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 5vw;
  font-weight: 900;
  font-weight: bold;
  color: #070707;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  animation: CSSscrollReveal ease-in-out both;
 animation-timeline: view();
 animation-range: entry 0% cover 50%;
}

.letter {
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease-out, color 0.3s ease-out;
}

.letter:hover {
  transform: scale(1.2);
}

.yt-video{
  margin-top: 5vw;
  width: 92vw;
  margin-right: 4vw;
  margin-left: 4vw;
  height: 80vh;
}

.fixed_footer {
  width: 100%;
  height: 600px;
  background: #050505;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -100;
  color: #fff;

}

.footer_top {
  display: flex;
  /* justify-content: space-between; */
  margin: 2vw 4vw;
  /* background-color: #444; */
}


.line {
  border: 1px solid #fff;
  width: 100%;
}

.footer-logo {
  display: flex;
}

.footer-logo img {
  margin-right: 1.7vw;
  height: 5vw;
}

.free-shipping img {
  position: absolute;
  left: 0;
  height: 7vw;
  width: 9vw;
  animation: walk 12s linear 0s infinite normal;
}

.container1 {
  display: flex;
  /* justify-content: space-between; */
  margin-left: 2vw;
  margin-right: 2vw;
  padding: 2vw 1vw;
  font-size: 1.3vw;
  line-height: 2vw;
  /* background-color: #444; */
}

.about {
  width: 30vw;
  padding-right: 7vw;
}

.services {
  padding-right: 7vw;
}

.Collection {
  padding-right: 7vw;
}

ul {
  list-style: none;
  /* margin-left: -2vw; */
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.footer-bottom {
  height: 15vh;
  /* background-color: #27ae60; */
  display: flex;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2vw;
}

.social-left {
  display: flex;
}

.social-left img {
  padding-left: 2vw;
  height: 2.5vw;
  width: 3vw;
  margin-top: -0.5vw;
}

.social-icons img:hover{
  transform: scale(1.2);
}

.social-right img {
  height: 8vw;
  width: 35vw;
  margin-top: -2vw;
}

.container1 a:hover {
  color: #e6ff03;
  transform: scale(1.2);
}

.social-icons{
  display: flex;
  margin-left: 2rem;
  margin-top: 1.4rem;
  /* padding-left: 2vw; */
}

@keyframes walk {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100vw);
  }
}
